<%- include('__header') %>
 
 <body style="background-color:#f2f2f2;">


<div class="container">
  <style>
    .bottom-one {
      margin-bottom: 1.3cm;
    }
  </style>

  <style>
    .bottom-two {
      margin-bottom: 2.3cm;
    }
  </style> <br />
  <h1 class="bottom-one" style="font-family:zefani; font-size: 55px" >Destination Perfect</h1>
  <p class="text-monospace && text-center"> Where would you like to travel? </p> <br><br>

  
  <div class="row row-cols-1 row-cols-md-4 && bottom-two">
    <div class="col mb-4">
      <a href="/dest/Barcelona">
        <div class="card h-100">
          <img src="barcelona.jpeg" class="card-img-top" alt="Destination 1 image">
          <div class="card-body">
            <h5 class="card-title"> Barcelona, Spain</h5>
          </div>     
        </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Kyoto">
      <div class="card h-100">
        <img src="kyoto.jpg" class="card-img-top" alt="Destination 2 image">
        <div class="card-body">
          <h5 class="card-title"> Kyoto, Japan</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Orlando">
      <div class="card h-100">
        <img src="orlando.jpg" class="card-img-top" alt="Destination 3 image">
        <div class="card-body">
          <h5 class="card-title"> Orlando, Florida</h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
    <a href="/dest/Istanbul">
      <div class="card h-100">
        <img src="istanbul.jpg" class="card-img-top" alt="Destination 4 image">
        <div class="card-body">
          <h5 class="card-title"> Istanbul, Turkey</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Kuala Lumpur">
      <div class="card h-100">
        <img src="kuala_lumpur.jpg" class="card-img-top" alt="Destination 5 image">
        <div class="card-body">
          <h5 class="card-title"> Kuala Lumpur, Malaysia</h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/London">
      <div class="card h-100">
        <img src="london.jpg" class="card-img-top" alt="Destination 6 image">
        <div class="card-body">
          <h5 class="card-title"> London, United Kingdom </h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/New York City">
      <div class="card h-100">
        <img src="nyc.jpg" class="card-img-top" alt="Destination 7 image">
        <div class="card-body">
          <h5 class="card-title"> New York City, New York</h5>    
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Paris" class="card-link">
      <div class="card h-100">
        <img src="paris.jpg" class="card-img-top" alt="Destination 8 image">
        <div class="card-body">
          <h5 class="card-title"> Paris, France</h5>
        </div>
      </div>
      </a>  
    </div>
    <div class="col mb-4">
      <a href="/dest/Rome">
      <div class="card h-100">
        <img src="rome.jpg" class="card-img-top" alt="Destination 9 image">
        <div class="card-body">
          <h5 class="card-title"> Rome, Italy</h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/San Jose">
      <div class="card h-100">
        <img src="san_jose.jpg" class="card-img-top" alt="Destination 10 image">
        <div class="card-body">
          <h5 class="card-title"> San Jose, Costa Rica</h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Sydney">
      <div class="card h-100">
        <img src="sydney.jpg" class="card-img-top" alt="Destination 11 image">
        <div class="card-body">
          <h5 class="card-title"> Sydney, Australia</h5>
        </div>
      </div>
      </a>
    </div>
    <div class="col mb-4">
      <a href="/dest/Tokyo">
      <div class="card h-100">
        <img src="tokyo.jpg" class="card-img-top" alt="Destination 12 image">
        <div class="card-body">
          <h5 class="card-title"> Tokyo, Japan</h5>
        </div>
      </div>
      </a>
    </div>
  </div>




  <br />
  <!-- Features -->
  <h1 class="bottom-one" style="font-family:zefani; font-size: 55px">Destination Perfect Features</h1><br>
  <ul class="list-unstyled">
    <li class="media">
      <img src="list.png" class="mr-3" alt="feature 1 image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Save Your Future Destinations</h5>
        Planning a trip can be hectic, especially when finding what to do. With Destination Perfect, finding the next
        thing to do is a breeze as our site is capable of storing your favorite attractions to a list that you created!
        No more worrying about where to go next as you can easily sign in and start where you left off.
      </div>
    </li>
    <br><br>
    <li class="media my-4">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Currency Exchange</h5>
        When leaving the country, it is important to know how much money you have on your person. Not all countries
        money holds the same value but do not worry as Destination Perfect has you covered. After selecting your
        destination, our site will handle the rest and display the going conversion rate of USD to the currency used at
        the destination of your choice.
      </div>
      <img src="dollar.png" class="ml-3" alt="feature 2 image">
    </li>
    <br><br>
    <li class="media">
      <img src="weather.png" class="mr-3" alt="feature 3 image">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Weather Forecast</h5>
        The last thing you want to happen on your extravaganza to the beautiful beaches of Costa Rica is for it to be
        raining every day. To prevent this and to add ease for the user, Destination Perfect will automatically provide
        weather information that is relevant to the destinaton choosen.
      </div>
    </li>
   </ul>
 </div>

<footer>
  <br><br>
  <p style="font-size:12px;" align = "center"> | Contact Us: <a href="EvanYoung@tamu.edu"> EvanYoung@tamu.edu </a> | &copy; 2020 Destination Perfect, All rights reserved. |</p>
</footer>

<%- include('__footer') %>
